{% extends "layout.html" %}

{% block title %}
    {{ config.SITE_NAME }}
{% endblock %}

{% block content %}
  <form method="POST" action="{{ request.url }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.quotation.label }}
      {{ form.quotation(class="form-control", placeholder="Quote") }}
    </div>
    <div class="form-group">
      {{ form.source.label }}
      {{ form.source(class="form-control", placeholder="Source") }}
    </div>
    <button type="submit" class="btn btn-default">Add Quote</button>
  </form>
{% endblock %}
