{% extends "layout.html" %}

{% block content %}
  <form method="POST" action="{{ request.url }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.quote_text.label }}
      {{ form.quote_text(class="form-control", placeholder="Special cases aren't special enough to break the rules.") }}
    </div>
    <div class="form-group">
      {{ form.quote_source.label }}
      {{ form.quote_source(class="form-control", placeholder="https://www.python.org/dev/peps/pep-0020/") }}
    </div>
    <div class="form-group">
      {{ form.category_name.label }}
      {{ form.category_name(class="form-control", placeholder="Python") }}
      <script type="text/javascript">
        $('#category_name').selectize({
            placeholder: 'Python',
            maxItems: 1
        });
      </script>
    </div>
    <div class="form-group">
      {{ form.author_name.label }}
      {{ form.author_name(class="form-control", placeholder="Tim Peters") }}
      <script type="text/javascript">
        $('#author_name').selectize({
            create: true,
            placeholder: 'Tim Peters',
            maxItems: 1
        });
      </script>
    </div>
    <div class="form-group">
      {{ form.author_bio.label }}
      {{ form.author_bio(class="form-control", placeholder="http://stackoverflow.com/users/2705542/tim-peters") }}
    </div>
    <button type="submit" class="btn btn-primary">{{ form_action }} Quote</button>
    <a class="btn btn-default" href="{{ url_for('public.homepage') }}">Cancel</a>
  </form>
{% endblock %}
