{% macro render_quote(quote) %}
  <p>
    <div class="container">
      <div class="row">
        <div class="jumbotron">
          <blockquote>
            <p>"<a href="{{ url_for('quote.show_quote', quote_id=quote.quote_id) }}">{{ quote.quote_text }} </a>"</p>
            <footer>
              <cite title="Source Title">{{ quote.author.author_name }}</cite>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="row" style="margin-top: -60px; padding-left: 60px;">
        <a href="{{ quote.author.author_bio }}" target="external" role="button" class="btn btn-default btn-xs"><i class="fa fa-external-link"></i> More about author</a>
        <a href="{{ quote.quote_source }}" target="external" role="button" class="btn btn-default btn-xs"><i class="fa fa-external-link"></i> Source of quote ^</a>
        <div class="pull-right" style="padding: 10px 10px 0 0;">
          <a href="#">{{ quote.category.category_name }} <span class="badge">2</span></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12" style="height: 30px;"></div>
  </p>
{% endmacro %}
