{% from 'components/quote.html' import render_quote %}

{% extends "layout.html" %}

{% block content %}
  <div class="col-xs-12" style="height:25px;"></div>
  <div class="container">
    <div class="row row-10-gutter">
      <div class="col-sm-1 col-sm-offset-10 col-10-gutter">
        <a class="btn btn-default btn-block" href="{{ url_for('quote.edit_quote', quote_id=quote.quote_id) }}" role="button">Edit</a>
      </div>
      <div class="col-sm-1 col-10-gutter">
        <form method="POST" action="{{ url_for('quote.delete_quote', quote_id=quote.quote_id) }}">
          <button type="submit" class="btn btn-danger btn-block">Delete</button>
        </form>
      </div>
    </div>
  </div>
  {{ render_quote(quote) }}
{% endblock %}
