{% from 'components/quote.html' import render_quote %}
{% from 'components/pager.html' import render_pager %}

{% extends "layout.html" %}

{% block content %}
  <div class="col-xs-12" style="height: 25px;"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="{{ user.user_avatar_url }}">
          <img src="{{ user.user_avatar_url }}" alt="icon" height="230" width="230" />
        </a>
      </div>
      <div class="col-md-4">
        <h2 style="margin-bottom: -3px;">{{ user.user_name }}</h2>
        <p><span style="font-size: 16px;"><em>aka</em> {{ user.user_github_login }}</span></p>
        <hr />
        <p>* Joined on <strong>{{ user.user_created.strftime('%Y-%m-%d') }}</strong></p>
        <p>* Submitted <strong>{{ quotes.total }}</strong> quotes</p>
        <p>* Email at <strong>{{ user.user_email }}</strong></p>
        <p>* Connect with on <a href="https://github.com/{{ user.user_github_login }}">GitHub</a></p>
        <hr />
        {% if user.user_id == current_user.user_id -%}
          <a href="#" target="external" role="button" class="btn btn-default"><i class="fa fa-cogs"></i> Settings </a>
        {%- endif %}
      </div>
    </div>
    <div class="row">
      <div class="page-header">
          <h1><small>Quotes submitted by this user</small></h1>
      </div>
    </div>
    {% for quote in quotes.items %}
      <div class="row">
        {{ render_quote(quote) }}
      </div>
    {% endfor %}
    <div class="row">
      {{ render_pager(quotes, prev_page, next_page) }}
    </div>
  </div>
{% endblock %}
