/* ===========================================================================
   Tech Quote (custom) CSS file.
   ======================================================================== */

body {
    background-image: url("../images/cream_dust.png");
}

.jumbotron {
  background: url("../images/cream_dust.png");
  border-style: solid;
  border-width: 1px;
}

blockquote a {
  color: black;
}

blockquote a:visited {
  color: #660000;
}

.row-10-gutter {
    margin-left: -10px;
    margin-right: -10px;
}

.col-10-gutter {
    padding-left: 10px;
    padding-right: 10px;
}

.tooltip-inner {
    max-width: 100px;
    width: 100px; 
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.username-width {
  max-width: 200px;
}
