/* ===========================================================================
   Tech Quote (custom) CSS file.
   ======================================================================== */

.row-10-gutter {
    margin-left: -10px;
    margin-right: -10px;
}
.col-10-gutter {
    padding-left: 10px;
    padding-right: 10px;
}
